/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones
en las secciones señaladas */
:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fondo: #F5F5F5;
   --cor-de-link: #000;
   --cor-de-fondo2: #EAF2FD;
}


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (max-width: 425px) {
body {
    font-family: 'Roboto', sans-serif;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-de-fondo);
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.header .header_imgLogo {
    width: 200px;
}

.header .header_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.header_menu li {
    list-style: none;
    margin-right: 0.6rem;
}

.presentacion {
    display: flex;
    flex-direction: column;
    background: var(--cor-de-fondo);
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.presentacion .presentacion_bloque1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.presentacion .presentacion_img {
    width: 200px;
}

.presentacion .presentacion_contacto {
    font-weight: bold;
}

.presentacion .presentacion_titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
}

.presentacion .presentacion_descripcion {
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

.presentacion .presentacion_menu {
    display: flex;
    justify-content: space-between;
}

.presentacion_menu li {
    list-style: none;
    margin-right: 0.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.presentacion_menu li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion_menu_icono {
    width: 20px;
    height: 20px;
    background-image: url(../assets/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
}

.sobreMi {
    background: var(--cor-de-fondo2);
    padding-top: 2rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.sobreMi .sobreMi_titulo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.sobreMi .sobreMi_descripcion {
    line-height: 1.5rem;
}

.sobreMi .sobreMi_container_firma{
    display: flex;
    justify-content: right;
}

.sobreMi .sobreMi_firma {
    margin-top: 1rem;
    width: 150px;
    justify-content: right;
}
}